
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "Name Name Name Name" "components comp-values employee-contribution ec-values" "components comp-values employee-contribution ec-values" "components comp-values payer-contr pc-values" "net net-value payer-contr pc-values";
}

.Name {
    grid-area: Name;
}

.components {
    grid-area: components;
}

.comp-values {
    grid-area: comp-values;
}

.employee-contribution {
    grid-area: employee-contribution;
}

.payer-contr {
    grid-area: payer-contr;
}

.ec-values {
    grid-area: ec-values;
}

.pc-values {
    grid-area: pc-values;
}

.net {
    grid-area: net;
}

.net-value {
    grid-area: net-value;
}

#dropdownMenu1 {
    height: 80%;
}

div#form-container {
    padding: 100px;
    margin: 20px;
}

h2.center {
    align-content: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}


.form-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

div#nav-container {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

#search {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}



